Source: libmksh
Section: non-free/net
Priority: optional
Maintainer: Pawel 'usterk' Guc <usterk@guc.net.pl>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: libmksh
Architecture: all
Depends: bash, grep
Conflicts: 
Description: Bash library that helps me with common use cases
 Locks
 Logging
 Spinner
 Clean_exit

