Source: libmksh
Section: non-free/net
Priority: optional
Maintainer: Pawel 'usterk' Guc <p.guc@madkom.pl>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: libmksh
Architecture: all
Depends: bash, grep
Conflicts: 
Description: Biblioteka z funkcjami wykorzystywanymi przez oprogramowanie firmy Madkom SA
 Zawiera funkcje do logowania.

